/*--------------------------------------------
	ReUzze BackOffice Template - CSS File
--------------------------------------------*/

/* Standard Settings */

body {
  background: #eded82;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin-top: 0px;
  color: #eee;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.25em;
}
hr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
#page-content-wrapper {
  width: 100%;
}
/*Navbar*/
.navbar {
  /*-webkit-box-shadow: 0px 0px 3px #e3e316;
  -moz-box-shadow: 0px 0px 3px #e3e316;
  box-shadow: 0px 0px 3px #e3e316;*/
  background-color: #eded82;
  border:none;
  margin:0;
}

.navbar .logo{
	width:50px;
	height:auto;
	padding-right: 10px;
	position: relative;
	bottom:3px;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #e1e1e1;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
  background-color: #fff;
  margin-left: 5px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  border-bottom: 3px solid #eded82;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #000;
  background-color: #eded82;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

.sidebar-nav .glyphicon{
  display: inline;
}

.sidebar-nav .nav-list li{
  border: none;
}
  .sidebar-nav .nav-list li a{
    padding-left:30px;
    background: #f4f3f3;
  }
  .sidebar-nav .nav-list li a:hover {
    background: #eded82;
  }

.icon{
  margin-left: 150px;

}

.nav-list>li>a {
  padding:0px;
}

.header {
  background: #ffffff;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #e6e6e6, #ffffff);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #e6e6e6, #ffffff);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#e6e6e6')";
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  padding: 0em 1.25em;
}
.header h1 {
  margin: 1em 0em;
  padding: 0em;
  line-height: 1em;
  font-size: 1.5em;
  color: #eee;
  color: #333;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}


